<<<<<<< HEAD
BODY {color:#fa8092 }

p {color: rgb(253, 253, 253);
font-size: 60px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-style: italic;
line-height: 30px;
letter-spacing: 5px;
text-decoration: underline;
text-transform: capitalize;
text-align: left;
text-indent: 30px;
}
header{
    display: flex;
    height: 70px;

    justify-content: space-between;
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}