BODY {color:#fa8092 }

P {color:#fa8092; 
   font-size:60px;
   font-family:'Courier New', Courier, monospace;
   font-weight:bold;
   font-style:italic;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
}
