BODY {color:rgb(255, 255, 255) }

P {color:rgb(255, 255, 255); 
   font-size:60px;
   font-family:'Courier New', Courier, monospace;
   font-weight:bold;
   font-style:italic;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:underline;
   text-transform:capitalize;
   text-align:left;
   text-indent:30px;
  }

